.catalog
	.container
		.row
			.col-xs-12
				h2.catalog__title.wow.fadeInUp
					| Мы предлагаем Вам
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/1.jpg", alt="ДИЗЕЛЬНОЕ ТОПЛИВО ЛЕТНЕЕ ", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| ДИЗЕЛЬНОЕ ТОПЛИВО ЛЕТНЕЕ 
					.catalog__item-desc
						| Топливо дизельное ЕВРО, сорт C, вид III, (ДТ-5)
					b.catalog__item-char
						| Плотность: 0,838
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/2.jpg", alt="ДИЗЕЛЬНОЕ ТОПЛИВО ЗИМНЕЕ", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| ДИЗЕЛЬНОЕ ТОПЛИВО ЗИМНЕЕ
					.catalog__item-desc
						| Топливо дизельное ЕВРО, сорт Е, вид III, (ДТ-5)
					b.catalog__item-char
						| Плотность: 0,845
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/3.jpg", alt="ДИЗЕЛЬНОЕ ТОПЛИВО АГКТИЧЕСКОЕ", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| ДИЗЕЛЬНОЕ ТОПЛИВО АГКТИЧЕСКОЕ
					.catalog__item-desc
						| Топливо дизельное ЕВРО, сорт C, вид III, (ДТ-5)
					b.catalog__item-char
						| Плотность: 0,825
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/4.jpg", alt="БЕНЗИН АИ-80", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| БЕНЗИН АИ-80
					.catalog__item-desc
						| Бензин автомобильный марки АИ-80
					b.catalog__item-char
						| Плотность: 0,745
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/5.jpg", alt="БЕНЗИН АИ-90", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| БЕНЗИН АИ-90
					.catalog__item-desc
						| Бензин автомобильный марки АИ-80
					b.catalog__item-char
						| Плотность: 0,745
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/6.jpg", alt="БЕНЗИН АИ-95", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| БЕНЗИН АИ-95
					.catalog__item-desc
						| Бензин автомобильный марки АИ-80
					b.catalog__item-char
						| Плотность: 0,745
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/7.jpg", alt="МАЗУТ М-100", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| МАЗУТ М-100
					.catalog__item-desc
						| 
					b.catalog__item-char
						| Плотность: 0,980
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/8.jpg", alt="МАЗУТ М-40", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| МАЗУТ М-40
					.catalog__item-desc
						| 
					b.catalog__item-char
						| Плотность: 0,980
			.col-xs-12.col-sm-6.col-md-4
				.catalog__item.wow.fadeInLeft
					.catalog__item-pr
						a(href="item.html")
							img(src="images/catalog/9.jpg", alt="ПЕЧНОЕ ТОПЛИВО TANECO", width="230", height="295")
					.catalog__item-title
						a(href="item.html")
							| ПЕЧНОЕ ТОПЛИВО TANECO
					.catalog__item-desc
						| Топливо дизельное маловязкое судовое вид III
					b.catalog__item-char
						| Плотность: 0,840