footer.foo
	.container
		.row
			.col-md-2.col-md-offset-0.col-sm-5.col-sm-offset-1.col-xs-12
				img.foo__logo(src="images/logo.png", alt="", width="238", height="120")
			.col-md-4.col-md-push-6.col-sm-6.col-xs-12
				a.btn.btn-white.foo__btn.fancy(href="#call")
					| Оставить заявку
			.col-xs-12.col-md-6.col-md-pull-4
				nav.foo__nav.nav
					.clearfix
						button.nav__humburger
							span.humburger			
					ul.nav__container
						li.nav__item
							a.nav__link(href="index.html#mission")
								| О нас
						li.nav__item
							a.nav__link(href="index.html#perfor")
								| Деятельность
						li.nav__item
							a.nav__link.fancy(href="#call")
								| Оставить заявку
						li.nav__item
							a.nav__link(href="#map")
								| Контакты
	.clearfix
		.foo__divider					
	.container
		.row
			.col-xs-12.col-sm-6
				.foo__copy
					| © 2016. Руснефть-Инвест
			.col-xs-12.col-sm-6
				.foo__statistics
					a(href="#")
						| Статистика сайта
				
