header.header
	.container
		.row
			.col-xs-12.visible-xs
				nav.header__nav.nav
					.clearfix
						button.nav__humburger
							span.humburger					
					ul.nav__container
						li.nav__item
							a.nav__link(href="index.html#mission")
								| О нас
						li.nav__item
							a.nav__link(href="index.html#perfor")
								| Деятельность
						li.nav__item
							a.nav__link.fancy(href="#call")
								| Оставить заявку
						li.nav__item
							a.nav__link(href="#map")
								| Контакты
			.col-md-2.col-md-offset-0.col-sm-3.col-sm-offset-2.col-xs-12
				img.header__logo(src="images/logo.png", alt="", width="238", height="120")
			.col-md-4.col-md-push-6.col-sm-5.col-xs-12
				ul.header__contacts.contacts-header
					li.contacts-header__item.contacts-header__phone
						| 8 800 100 00 01
					li.contacts-header__divider
					li.contacts-header__item.contacts-header__mail
						a.contacts-header__link(href="mailto:info@rusneftinvest.ru")
							| info@rusneftinvest.ru
			.col-md-6.col-md-pull-4.col-xs-12.hidden-xs
				nav.header__nav.nav
					ul.nav__container
						li.nav__item
							a.nav__link(href="index.html#mission")
								| О нас
						li.nav__item
							a.nav__link(href="index.html#perfor")
								| Деятельность
						li.nav__item
							a.nav__link.fancy(href="#call")
								| Оставить заявку
						li.nav__item
							a.nav__link(href="#map")
								| Контакты
			
