.map#map
	.clearfix
		.map__wrap
	.container
		.row
			.col-xs-12
				.map__title
					| Контакты
				.map__desc
					| 177555, г.Москва, Тверская ул 1, офис 404
					br
					| +8 800 100 00 01
					br
					a(href="mailto:info@rusneftinvest.ru")
						| info@rusneftinvest.ru
 
