.mission#mission
	.container
		.row
			.col-lg-12
				h2.mission__title.wow.fadeInDown
					| Наша миссия
				.mission__text
					p.wow.fadeIn(data-wow-delay="0.2s")
						| ООО «Северо-Запад Нефтепродукт» успешно осуществляет свою деятельность в области реализации нефтепродуктов и предоставляет широкий спектр сопутствующих услуг.
					p.wow.fadeIn(data-wow-delay="0.2s")
						| Благодаря эффективной организации логистической цепи и грамотной работе с клиентами различного уровня, наша компания стабильно развивается, предлагая своим клиентам новые возможности на выгодных условиях.
					p.wow.fadeIn(data-wow-delay="0.2s")
						| Наличие развитой инфраструктуры и опытного персонала позволяет компании успешно сотрудничать с большим числом организаций и строить отношения с ними на долгосрочной и взаимовыгодной основе.
					p.wow.fadeIn(data-wow-delay="0.2s")
						| Стабильное и взаимовыгодное сотрудничество является основной целью нашей компании. Для ее достижения мы осуществляем постоянный контроль качества реализуемой продукции, поддерживаем разумную ценовую политику и высокий уровень обслуживания.
					p.wow.fadeIn(data-wow-delay="0.2s")
						| Реализация дизельного топлива является для нас приоритетным направлением.
					p.wow.fadeIn(data-wow-delay="0.2s")
						| Мы уверены, что, проанализировав объем и частоту поставок вашей организации, сформируем конкурентное и оптимальное предложение. Мы рады предложить Вам любой удобный и доступный для Вас способ обеспечения автопарка Вашего предприятия высококачественным ДТ: топливные талоны, электронные топливные карты и доставку топлива бензовозами.