.offer
	.container
		.row
			.col-lg-12
				h2.offer__title
					| Мы предлагаем Вам
			.col-xs-12.col-md-4
				.offer__item
					.offer__item-icon
						.i-offer-1
					.offer__item-title
						| Бензин
					.offer__item-desc
						| Гибкая ценовая политика и индивидуальный подход к каждому клиенту позволяет подобрать
					.offer__item-budges
						span.budges
							| 95
						span.budges
							| 92
						span.budges
							| 80
						span.budges
							| ДТ
			.col-xs-12.col-md-4
				.offer__item
					.offer__item-icon
						.i-offer-2
					.offer__item-title
						| Битум
					.offer__item-desc
						| Гибкая ценовая политика и индивидуальный подход к каждому клиенту позволяет подобрать
			.col-xs-12.col-md-4
				.offer__item
					.offer__item-icon
						.i-offer-3
					.offer__item-title
						| Мазут
					.offer__item-desc
						| Гибкая ценовая политика и индивидуальный подход к каждому клиенту позволяет подобрать 