.perfor#perfor
	.container
		.row
			.col-xs-12
				h2.perfor__title
					| Наши показатели работы
				p.perfor__slogan
					| ООО «Северо-Запад Нефтепродукт» успешно осуществляет свою деятельность в области реализации нефтепродуктов и предоставляет широкий спектр сопутствующих услуг.
			.col-xs-12.col-sm-6.col-md-3
				.perfor__item
					.perfor__item-circle.perfor__item-circle-1
						//- | 84%
					.perfor__item-title
						| Объем продаж
			.col-xs-12.col-sm-6.col-md-3
				.perfor__item
					.perfor__item-circle.perfor__item-circle-2
						//- | 91%
					.perfor__item-title
						| Колличество клиентов
			.col-xs-12.col-sm-6.col-md-3
				.perfor__item
					.perfor__item-circle.perfor__item-circle-3
						//- | 91%
					.perfor__item-title
						| Доверие клиентов
			.col-xs-12.col-sm-6.col-md-3
				.perfor__item
					.perfor__item-circle.perfor__item-circle-4
						//- | 76%
					.perfor__item-title
						| Рост выручки