.reviews
	.container
		.row
			.col-xs-12
				h2.reviews__title.wow.fadeInDown
					| Отзывы клиентов
				p.reviews__slogan.wow.fadeInLeft
					| Нашими услугами ежедневно пользуются десятки клиентов чье доверие мы ценим привыше всего, ниже отзывы о нашей работе от некоторых из них
			.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-0
				.reviews__item.wow.fadeInLeft(data-wow-delay="0.4s")
					.reviews__item-pr
						img(src="images/reviews/1.jpg", alt="Александр Иванович", width="100", height="100")
					.reviews__item-title
						| Александр Иванович
					.reviews__item-comp
						| ООО «Титан проект»
					.reviews__item-rating
						.rating
							.rating-inner.rating-4
					.reviews__item-desc
						| В процессе работы часто приходится сталкиваться с поставками топлива для строительной техники. Компания Руснефть-Нивест предложила нам самые  оптимальные условия для работы. Как по цене тк и по сроками поставки топлива.
			.col-sm-6.col-md-4
				.reviews__item.wow.fadeInLeft(data-wow-delay="0.2s")
					.reviews__item-pr
						img(src="images/reviews/2.jpg", alt="Алексей Петровский", width="100", height="100")
					.reviews__item-title
						| Алексей Петровский
					.reviews__item-comp
						| ЗАО «Перевозчик №1»
					.reviews__item-rating
						.rating
							.rating-inner.rating-5
					.reviews__item-desc
						| В процессе работы часто приходится сталкиваться с поставками топлива для строительной техники. Компания Руснефть-Нивест предложила нам самые  лучшие условия для работы. Как по цене тк и по сроками поставки топлива.
			.col-sm-6.col-md-4
				.reviews__item.wow.fadeInLeft
					.reviews__item-pr
						img(src="images/reviews/3.jpg", alt="Михаил Светлаков", width="100", height="100")
					.reviews__item-title
						| Михаил Светлаков
					.reviews__item-comp
						| ЗАО «СпецДорСтрой-Мск»
					.reviews__item-rating
						.rating
							.rating-inner.rating-5
					.reviews__item-desc
						| В процессе работы часто приходится сталкиваться с поставками топлива для строительной техники. Компания Руснефть-Нивест предложила нам самые  лучшие условия для работы. Как по цене тк и по сроками поставки топлива.
			.col-xs-12
				a.btn.btn-red.reviews__btn.fancy.wow.fadeInUp(href="#reviews")
					span.i-reviews-btn.reviews__btn-icon
						| &shy;
					| Оставьте отзыв 
					br.visible-xs
					| о нашей работе
				.reviews__tip.wow.fadeInUp
					| за вашу доброту - мы вознаградим вас скидкой