doctype html
html
	head
		include jade/head.jade
	body
		include jade/main.jade
		include jade/offer.jade
		include jade/proposal.jade
		include jade/mission.jade
		include jade/perfor.jade
		include jade/reviews.jade
		include jade/map.jade
		include jade/foo.jade
		include jade/hidden.jade
		include jade/scripts.jade