doctype html
html
	head
		include jade/head.jade
		include jade/scripts.jade
		//- include jade/metrika.html
	body
		include jade/header.jade
		include jade/item.jade
		include jade/map.jade
		include jade/foo.jade
		include jade/hidden.jade